log/*.log
tmp/**/*
tmp/*.txt
tmp/*.sql
config/*.yml
db/*.sqlite3
nbproject/
capfile
*.swp
public/assets/**/*
public/stylesheets/admin-all.css
public/**/*_cached.*
assets/**/*.pdf
config/*.pem
config/environments/production.rb
public/robots.txt
.bundle/
passport_files/**
